@media only screen and (max-width: 518px) {
  .repo-card {
    width: 71% !important;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 519px) and (max-width: 798px) {
  .repo-card {
    width: 48% !important;
    margin-bottom: 2rem;
  }
}

.repo-card {
  width: 13.5%;
  height: 20vh;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.repo-text {
  text-align: center;
}

.repo-language {
  font-size: 18px;
  font-weight: 500;
}

.repo-star-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.repo-start-count {
  color: #021947;
  font-size: 14px;
}

.repo-star-icon {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.repo-description {
  font-size: 12px;
}
