.user-card {
  width: 20vw;
  height: 35vh;
  border: 1px solid red;
  border-radius: 8px;
}

.user-thumbnail {
  width: 100%;
  height: 27%;
  object-fit: cover;
  opacity: 50%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.user-avatar {
  position: relative;
  width: 5vw;
  border-radius: 50%;
  left: 7.5vw;
  bottom: 7.5vh;
}
