.footer-container {
  height: 20vh;
  background-color: #021947;
  color: #d8d9e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-item {
  margin: 1.5vh;
}
